html,body{ margin:0px; padding: 0px; height: 100%; position: relative; font-size: 12px; font-family: "微软雅黑"; color: #333; z-index: -9999;}
/*模态框组件*/
.zwl-dialog-back { width: 100%; height: 100%; position: fixed; *position: absolute; top: 0; left: 0; background: black; opacity: .5; filter: alpha(opacity=50); z-index: -1; }
.zwl-dialog-window { position:absolute; border-radius: 6px; width: auto; margin:10px; left: 0px; top:50px; right: 0px;  background-color: white; box-shadow: 0 5px 15px rgba(0,0,0,.5); z-index: 0; }
.zwl-dialog-header{ min-height: 16.43px; padding: 15px; border-bottom: 1px solid #e5e5e5; font-weight: bold; }
.zwl-dialog-body{ position: relative; padding: 15px; }
.zwl-dialog-footer{ padding: 15px; text-align: right; border-top: 1px solid #e5e5e5; }
.zwl-dialog-title{ margin:0px; }
.zwl-dialog-close{ float: right; background:none; padding: 0px; border:0px; cursor: pointer; font-size: 21px; margin-top: -2px; outline: 0;}
@media (min-width: 768px) {
	.zwl-dialog-window {
		width: 600px;
		margin:auto;
		*left: 50%;
		*margin-left: -300px;
	}
	.zwl-dialog-sm {
		width: 300px;
	}
}
@media (min-width: 992px) {
	.zwl-dialog-lg {
		width: 900px;
	}
}

/*按钮组件*/
.btn { display: inline-block; padding: .5em 1em; margin-bottom: 0; font-size: 14px; font-weight: 400; line-height: 1.42857143; text-align: center; white-space: nowrap; vertical-align: middle; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; background-image: none; border: 1px solid transparent; border-radius: 4px; }
.btn-default{ color: #333; background-color: #fff; border-color: #ccc; }